@model StartingTemplatePlayground.Models.FactsViewModel
@{
    ViewData["Title"] = "Facts";
}

<h1>@ViewData["Title"]</h1>

<p>Transient Fact 1: @Model.Fact</p>
<p>Transient Fact 2: @Model.Fact2</p>


