@model StartingTemplatePlayground.Models.FactsViewModel
@{
    ViewData["Subtitle"] = "Facts";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Subtitle"]</h2>

<p>Singleton Fact 1: @Model.Fact</p>
<p>Singleton Fact 2: @Model.Fact2</p>


<div class="flex gap-2">
    <a asp-action="Singleton" class="btn btn-primary">Singleton</a>
    <a asp-action="Transient" class="btn btn-primary">Transient</a>
    <a asp-action="Scoped" class="btn btn-primary">Scoped</a>
</div>