@model StartingTemplatePlayground.Models.FactsViewModel
@{
    ViewData["Subtitle"] = "Facts";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Subtitle"]</h2>

<p>Transient Fact 1: @Model.Fact</p>
<p>Transient Fact 2: @Model.Fact2</p>


